<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="description" content="btcsigner.com">
     <meta name="author" content="Valerio Vaccaro">
     <link rel="icon" href="">
     <title>₿TC Signer</title>
     <link href="/static/bootstrap.min.css" rel="stylesheet">
     <link href="/static/local.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
           <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
              <a class="navbar-brand" href="/create">Create</a>
              <a class="navbar-brand" href="/list">List</a>
              <a class="navbar-brand" href="/new_psbt">New PSBT</a>
              <a class="navbar-brand" href="/sign_psbt">Sign PSBT</a>
              <a class="navbar-brand" href="/about">Credits</a>
           </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">

               <h3>List generated addresses</h3>
               <table class="table table-striped">
               <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">My PubKey</th>
                    <th scope="col">Your PubKey</th>
                    <th scope="col">Timestamp</th>
                 </tr>
               </thead>
               <tbody>
               {{#results}}
                  <tr>
                    <td><a href="./address?address={{multisig_address}}" target="_blank">{{name}}</td>
                    <td style="word-break: break-all;"><a href="https://blockstream.info/testnet/address/{{multisig_address}}" target="_blank">{{multisig_address}}</a></td>
                    <td style="word-break: break-all;">{{my_pubkey}}</td>
                    <td style="word-break: break-all;">{{your_pubkey}}</td>
                    <td style="word-break: break-all;">{{timestamp}}</td>
                  </tr>
               {{/results}}
               </table>
            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
